DATASOURCE_URL=jdbc:postgresql://payment-postgres-db:5432/payment_db
POSTGRES_DB=payment_db
DB_USER=postgres
DB_PASSWORD=postgres

JWT_PUBLIC_KEY_PATH=classpath:keys/public_key.pem

EUREKA_URL=http://discovery-service:8761/eureka
