DATASOURCE_URL=jdbc:postgresql://booking-postgres-db:5432/booking_db
POSTGRES_DB=booking_db
DB_USER=postgres
DB_PASSWORD=postgres

JWT_PUBLIC_KEY_PATH=classpath:keys/public_key.pem

EUREKA_URL=http://discovery-service:8761/eureka

REDIS_HOST=booking-redis
REDIS_PORT=6379
REDIS_PASSWORD=redispass